{{ define "main" }}
  <!-- {{ partial "portfolio.html" . }}
  {{ partial "pagination.html" . }} -->
  <!-- <div class="cuentaregresiva"></div> -->

  <div class="logo-wrapper">
    <img src="/img/logo.png" class="hm-logo" />
  </div>

  <p class="contenido">
    Después de 10 años el <b>HackMeeting</b> vuelve a la ciudad de La Paz y se llevará
    a cabo los días 20, 21 y 22 de Septiembre en el <a href="/ubicacion">Centro Cultural Dragón Wari</a>.
    Durante estos diez años muchas amistades se formaron, tuvimos experiencias bastante agradables y
    por sobretodo compartimos nuestro conocimiento. Esperarnos reunirnos una vez más
    entre esta maravillosa comunidad hacker que se formó durante esta <b>década</b>.
  </p>

  <p>
    En la actualidad, el Hackmeeting es un evento libre y abierto donde varios
    miembros de comunidades <a href="https://www.elmundo.es/tecnologia/2014/10/27/544dea28ca474156028b456b.html">hacker</a>
    se reúnen una vez al año para realizar actividades relacionadas con las nuevas
    tecnologías y/o las problemáticas actuales (Seguridad informática, Software Libre,
    Hacklabs, Redes Libres, Soberanía digital, etc.).
  </p>

  <p>
    Se suelen realizar ciclos de conferencias y <em>desconferencias</em>, las comunidades pueden exponer
    sus trabajos, organizar talleres o mesas redondas de discusión; además de festejar en conjunto los
    logros obtenidos y empezar a coordinar esfuerzos para los desafíos del futuro.
  </p>

  <h2>Auspiciadores</h2>
  <ul class="logos auspicio">
    <li>
      <a href="https://www.jaltana.com/" target="_blank">
        <img src="/img/jaltana.png" style="width: 200px; padding-top: 55px;" title="Jaltana" />
      </a>
    </li>
    <li>
      <a href="https://econotec.com.bo/" target="_blank">
        <img src="/img/econotec.jpeg" style="width: 200px; padding-top: 35px;" title="Econotec" />
      </a>
    </li>
    <li>
      <a href="https://www.devenet.net/" target="_blank">
        <img src="/img/devenet.png" style="width: 200px; padding-top: 35px;" title="DeveNet" />
      </a>
    </li>
    <li>
      <a href="http://newvisiondata.com/nvd/en/" target="_blank">
        <img src="/img/nvd.png" style="width: 200px;" title="New Vision Data"/>
      </a>
    </li>
  </ul>

  <h2>Comunidades Participantes</h2>
  <ul class="logos">
    <li>
      <a href="https://wiki.hacklab.org.bo" target="_blank">
        <img src="/img/roothouse.jpg" style="width: 200px" title="Hacklab La Paz" />
      </a>
    </li>
    <li>
      <a href="https://laotra.red/" target="_blank">
        <img src="/img/lor.png" style="width: 200px" title="La Otra Red" />
      </a>
    </li>
    <li>
      <a href="https://www.owasp.org/index.php/Bolivia" target="_blank">
        <img src="/img/owasp-logo2.png" style="width: 200px; padding-top: 70px;" title="Owasp Bolivia" />
      </a>
    </li>
    <li>
      <a href="https://www.lexivox.org/" target="_blank">
        <img src="/img/lexivox.png" style="width: 200px; padding-top: 70px;" title="Lexivox Bolivia" />
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/SCERIS.FICCT/" target="_blank">
        <img src="/img/logo-sceris.png" style="width: 200px; padding-top: 70px;" title="SCERIS - UAGRAM" />
      </a>
    </li>
    <li>
      <a href="#" target="_blank">
        <img src="/img/logo-toborochi.jpg" style="width: 200px; padding-top: 70px;" title="Toborochi Hack-Fest" />
      </a>
    </li>
  </ul>
  <br />
  <span class="nota">Aún hay comunidades faltantes que iremos agregando...</span>

{{ end }}
